*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
.line{
    font-size: 30px;
    position: relative;
    text-align: center;
    margin: 200px;  
}


.line::after {
    content: "Hello!";
    animation: changeText 6s infinite;
}
   
 @keyframes changeText {
        0% {
            content: " bob!   ]";
        }
        33% {
            content: " everybody!   ]";
        }
        66% {
            content: "  user!   ]";
        }
        100% {
            content: " world!   ]";
        }
    }